.asdf-accordion {
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
}

.asdf-accordion-header {
  width: 100%;
  text-align: left;
  padding: 10px;
  background: #f6f9fc;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;

  font-weight: 600;
  color: #555e67;
}

.asdf-accordion-content {
  padding: 10px;
  background: white;
  border-top: 1px solid #ccc;
}

.asdf-accordion-icon {
  font-size: 14px;
  padding-right: 5px;
}
