/* Base Button Styles */
.asdf-button {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  border-radius: 6px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Primary Button */
.asdf-button--primary {
  background-color: #049fd9;
  color: white;
  border: none;
}

.asdf-button--primary:hover {
  background-color: #005c85;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.asdf-button--primary:focus {
  outline: none;
  box-shadow: 0px 0px 0px 3px rgba(0, 125, 171, 0.5);
}

.asdf-button--primary:active {
  background-color: #004364;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Secondary Button (Outlined) */
.asdf-button--secondary {
  background-color: transparent;
  color: #373c42;
  border: 1px solid #373c42;
}

.asdf-button--secondary:hover {
  background-color: rgba(239, 239, 239, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
}

.asdf-button--secondary:focus {
  outline: none;
  box-shadow: 0px 0px 0px 3px rgba(0, 125, 171, 0.5);
}

.asdf-button--secondary:active {
  background-color: rgba(0, 125, 171, 0.2);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Tertiary Button (Text-Only) */
.asdf-button--tertiary {
  background-color: transparent;
  color: #373c42;
  border: 0px solid #ffffff00;
  transition: color 0.3s ease;
}

.asdf-button--tertiary:hover {
  color: #909090;
}

.asdf-button--tertiary:focus {
  outline: none;
  text-decoration: underline;
}

.asdf-button--tertiary:active {
  color: #004364;
}

/* Size Variations */
.asdf-button--small {
  font-size: 10px;
  padding: 4px 8px;
}

.asdf-button--medium {
  font-size: 12px;
  padding: 5px 10px;
}

.asdf-button--large {
  font-size: 14px;
  padding: 8px 16px;
}

/* Disabled State */
.asdf-button:disabled {
  background-color: #d0d4d9;
  cursor: not-allowed;
}
