.card,
.container {
  font-family: "Inter", sans-serif;
  position: relative;
  display: block;
  padding: 16px;
  background-color: #fff;
  border: 2px solid #e1e4e8;
  border-radius: 8px;
  transition: all linear 0.5s;
  width: auto;
  /* height: 200px; */
  overflow: visible; /* Allow content overflow if needed */
}

.card:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
}

.card-title {
  margin-top: 0px;
  font-size: 16px;
  font-weight: 600;
}

.card-subtitle {
  font-size: 14px;
  font-weight: 400;
}

.card-placeholder {
  background-color: #f7f7f7;
  height: 150px;
  cursor: pointer;
}

.card-content {
  background-color: #ffffff;
  height: fit-content;
  cursor: pointer;
}

.container {
  border: 0;
  border-radius: 12px;
  box-shadow: 0 3px 8px #00000014;
}
