.form-stack {
  align-items: stretch;
  display: flex;
  flex: 1 1 0px;
  flex-flow: column;
  gap: 10px;
  justify-content: flex-start;
}

.form-group {
  align-items: center;
  display: flex;
  flex-direction: row; /* Arrange label and input horizontally */
  gap: 10px; /* Add spacing between label and input */
  justify-content: space-between;
  padding-right: 22px;
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-end;
}

label {
  font-size: 12px;
  font-weight: 600;
  color: #626d7d;
  margin: 0px;
  line-height: 16px;
  width: 40%; /* Adjust to your preferred label width */
  text-align: left; /* Ensure label is left-aligned */
}

button {
  margin-top: 15px;
}
