.asdf-toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 12px 16px;
  border-radius: 6px;
  font-size: 14px;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 4px 8px rgba(11, 12, 15, 0.2);
}

.asdf-toast-close {
  background: none;
  border: none;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.success {
  background-color: #28a745;
}

.error {
  background-color: #dc3545;
}

.info {
  background-color: #17a2b8;
}
